<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= file_name %></title>
  <link rel="stylesheet" href="/bootstrap-combined.min.css" />
  <link rel="stylesheet" href="markdown-body.css" />
</head>
<body>
  <div class="container markdown-body">
    <%= content %>
  </div>
</body>
</html>
