<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= file_name %></title>
  <link rel="stylesheet" href="/gfm-preview/bootstrap-combined.min.css" />
  <link rel="stylesheet" href="/gfm-preview/markdown-body.css" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/gfm-preview/favicon.ico">
</head>
<body>
  <div class="container markdown-body">
    <pre><%= content %></pre>
  </div>
</body>
</html>
